.album {
  padding: 50px 0;

  &__card {
    position: relative;
    margin-bottom: 24px;
  }

  .overlay {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 0.4s ease-in-out;
    opacity: 0.3;
  }



  &__card:hover {
    .overlay {
      opacity: 1;
    }
  }
}
