.banner {
  background: $color-black-light;
  padding: 50px 0 50px;

  &__background {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../images/banner-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
  }

  &__content {
    padding: 0 15px;
  }

  &__title {
    margin-bottom: $gap;
  }
}
