.brand {
  padding: 50px 0;
  text-align: center;
  background: $color-white;
  color: $color-black;

  &__title {
    margin-bottom: calc($gap / 3);
  }

  &__desc {
    padding-bottom: 30px;
    font-weight: 400;
  }

  &__logo {
    max-width: 160px;
    margin: auto;
  }



  @media #{$media-not-desktop} {
    &__logo {
      max-width: 150px;
    }
  }

  @media #{$media-screen-mobile} {
    &__logo {
      max-width: 120px;
    }
  }
}
