.footer {
  padding: 50px 0;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    font-size: 30px;
    padding-bottom: 5px;
  }

  &__desc {
    font-weight: 300;
    padding-bottom: 30px;
    border-bottom: 1px solid $color-border;
  }

  &__navbar {
    .navbar {
      padding: 0;
      display: block;

      .navbar-nav {
        display: block;
      }

      .nav-link {
        padding-left: 0;
        color: $color-text-base;
        font-weight: 300;
        opacity: 0.5;
      }

      .nav-link:hover {
        opacity: 1;
      }

      .active {
        opacity: 1;
      }

      .nav-link:first-child {
        padding-left: 0;
      }

      .navbar-toggler {
        color: $color-text-base;;
        border-color: $color-border
      }


      .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 0.15rem;
      }
    }
  }

  &__contact-title {
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 16px;
  }

  &__info-wrap {
    opacity: 0.5;
    list-style: none;
    margin: 0 0 5px;
    padding: 0;
    display: inline-block;
    width: 100%;
  }

  &__info {
    margin-bottom: 5px;
    display: flex;

    a {
      text-decoration: none;
      color: inherit;
    }

    a:hover {
      color: inherit;
      opacity: 0.8;
    }
  }

  &__info-title {
    width: 80px;
  }

  &__social {
    opacity: 0.5;
    font-size: 22px;

    a {
      text-decoration: none;
      color: inherit;
    }

    a:hover {
      color: inherit;
      opacity: 0.8;
    }
    span {
      padding-right: 15px;
    }
  }

  @media #{$media-screen-mobile} {
    &__container {
      display: block;
    }

    &__navbar {
      padding: 16px 0;
    }
  }
}
