.video-carousel {
  position: relative;
  padding: 50px 0;

  .container {
    padding: 0 80px;
    position: relative;
  }

  &__title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &__video {
    font-size: 0;
    margin-bottom: 10px;

    iframe {
      width: 100%;
      height: 360px;
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-prev {
    left: 10px;
  }

  .swiper-button-next {
    right: 10px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: $color-border;
    font-size: 36px;
  }
}

